## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [16]:
import pandas as pd
import numpy as np
import random

In [26]:
data=[]
randomPeople = np.random.rand(10)
count=0

for people in randomPeople:
    count=count+1
    people=people*(random.randrange(10000, 1000000))
    tempArray=["city"+(str(++count)),int(people)]
    data.append(tempArray)
    
    
    
df=pd.DataFrame(data)
df.columns=['國家','人口']
print("====before sort====")
print df

====before sort====
       國家      人口
0   city1   19623
1   city2  615124
2   city3   93129
3   city4   52233
4   city5  545607
5   city6  424637
6   city7    3732
7   city8   70755
8   city9    3030
9  city10  205607

In [25]:
print("====after sort====")
df.sort_values(by=['人口'], ascending=False)

====after sort====

       國家      人口
9  city10  541462
1   city2  306081
5   city6  247248
6   city7  172544
0   city1  156525
7   city8  142490
4   city5  138090
8   city9   31824
2   city3   23114
3   city4   22235